* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial, sans-serif';
    background-color: #ebf3d7;
    color: #000000;
}
.project {
    border: 2px solid #4CAF50;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: #1c1b1b solid 2px;
    height: auto;
    width: auto;
}
.projects {
    border: 2px solid #4CAF50;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: #1c1b1b solid 2px;
    height: 400px;
    width: 550px;
}
.projects h3 {
    color: #09330a;
    margin-bottom: 10px;
}
.projects p {
    color: #09330a;
    margin-bottom: 10px;
}
.projects a {
    color: hsl(263, 100%, 12%);
    margin-bottom: 10px;
    text-decoration: none;
}
.img-hrs {
    height: 150px;
    width: 180px;
}