*{
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f2f7df;
    color: #2b0707;
    line-height: 1.6;
}

.header, .footer {
    background-color: #e3e7d6;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-logo {
    height: 70px;
    width: 85px;
    background-image: url('final_logo_hanjec.png');
    background-size: cover;
}

.nav-search {
    display: flex;
    align-items: center;
    background-color: #d6e4ab;
    border-radius: 5px;
    padding: 5px;
}

.search-input {
    border: none;
    padding: 10px;
    width: 300px;
}

.search-icon {
    background-color: #62784a;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 22%;
    text-align: center;
}

.box-img {
    height: 220px;
    background-size: cover;
    margin-bottom: 10px;
}

.footer {
    background-color: #d4d8c7;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: #290505;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .shop-section {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
    }
}